@import "../base";

.hero {
  margin: 0 3em;
  .hero__img {
    width: 100%;
  }
  .button {
    background-color: $Cyan;
    color: $White;
    padding: 1.5em;
    border-radius: 50px;
    border: none;
    width: 250px;
  }
  p {
    margin: 1em 0;
  }
}

@media screen and (min-width: 750px) {
  .hero {
    .hero__img {
      width: 800px;
    }
  }
}
