@import "../base";

.features__primary {
  padding: 5em 0;
  .feature {
    padding: 3em 0;
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1090px) {
  .features__primary {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: center;
    align-items: center;
    margin: 0 3em;
    .feature {
      width: 400px;
      margin: 0 2em;
      align-items: center;
    }
  }
}
